.mainPage .startButtonContainer {
    width: 90%; 
    height: 6.70%; /* 60px / 896px */
    left: 7.25%; /* 30px / 414px */
    top: 78%; /* 690px / 896px */
    position: absolute;
    background: #CDD5AE;
    border-radius: 30px;
}

.mainPage .startButtonText {
    left: 40%;
    top: 28%; 
    position: absolute;
    text-align: center;
    color: white;
    font-size: 4.35vw; /* 18px / 414px */
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}